{% extends 'base/main.html' %} {% block content %}

<!-- Header that displays username and number of incomplete tasks -->
<div class="header-bar">
    <div>
        <h1>Hello {{request.user|title}}</h1>
        <!-- <h3 style="margin:0">You have <i>{{count}}</i> incomplete task{{ count|pluralize:"s" }}</h3> -->
    </div>
    <a href="{% url 'transactions' %}">&#8592; Back</a>

    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a> {% else %}
    <a href="{% url 'login' %}">Login</a> {% endif %}
</div>


<head>
    <title>Notifications Test</title>
    {% load static%}
    
    <script src="{% static 'notify.js'%}"></script>
  </head>
  <body>
      <label class="switch">
        <label for="notificationToggle">Get Notified when balance is too low?</label>
        <input type="range" min="0" max="1" step="1"  value="{{ slider_value }}" class="slider" id="notificationSlider" oninput="toggleNotifications(this.value)">
        <span class="slider round"></span>

        <script>
            
      
            window.addEventListener("load", function() {
              const notificationToggle = document.getElementById("notificationSlider");
              toggleNotifications(notificationToggle.value);
            });

            // Get the slider element and set its value to the one stored in local storage
            const slider = document.getElementById("notificationSlider");
            const storedValue = localStorage.getItem("sliderValue");
            if (storedValue) {
              slider.value = storedValue;
            }
          
            // Add event listener to update local storage when slider is changed
            slider.addEventListener("input", function() {
              localStorage.setItem("sliderValue", slider.value);
            });
          </script>
      </label> 
      <label for="amountInput">after how many seconds do you want to get notified?</label>
      <input type="number" id="amountInput" min="0" max="10000" placeholder="Enter amount">
    <button onclick="toggleNotifications(document.getElementById('notificationSlider').value,document.getElementById('amountInput').value)">Notify</button> 
      
  </body>

<!-- filters by categories and completeness, sort by deadline -->
<div class="filter-category">
    <h1>Summary: </h1> 
    <h2 style="color: grey;"> Total Amount: {{total_amount}} </h2>
    <a href="{% url 'pie_chart' %}"> Graph by Category</a>
    <h1> Transaction History: </h1>
    <form method="get">
        <label for="category">Category:</label>
        <select name="category" id="category">
          <option value="">All</option>
          {% for category in categories %}
            <option value="{{ category.name }}" {% if selected_category == category.name %}selected{% endif %}>{{ category.name }}</option>
          {% endfor %}
        </select>
        <button type="submit" class="button">Filter by Category</button>
        <br><a href="{% url 'category-create' %}">Create new categories</a>
        <label for="is_debit">Debit:</label>
        <select name="is_debit" id="completed_filter">
            <option value="">All</option>
            <option value="True" {% if task.is_debit == 'True' %} selected {% endif %}>Credit Records</option>
            <option value="False" {% if task.is_debit == 'False' %} selected {% endif %}>Debit records</option>
          </select>
        <button type="submit" class="button">Filter by Type</button>
      </form>

      <form method="GET">
        <label for="sort">Sort by Amount</label>
        <select name="sort_order" id="sort_deadline" onchange="this.form.submit()">
            <option value="">Sort by</option>
            <option value="amount_asc" {% if order_by_amount == 'amount_asc' %}selected{% endif %}>Amount (ascending)</option>
            <option value="amount_desc" {% if order_by_amount == 'amount_desc' %}selected{% endif %}>Amount (descending)</option>
        </select>
    </form>
    
</div>

<!-- Search tasks -->
<div id="search-add-wrapper">
    <form method="GET" style="display: flex;">
        <input type='text' name='search-area' placeholder="Search your records" value="{{search_input}}">
        <input class="button" type="submit" value='Search'>
    </form>
    {% if transactions|length > 0 %}
    <a id="add-link" href="{% url 'transaction-create' %}"> &#x2b;</a>
    {% endif %}
</div>


<!-- displays tasks on the main page with their title, category and deadline -->

<div id="tasklist" class="task-items-wrapper">
    {% for transaction in transactions %}
    <div class="task-wrapper" data-position="{{transaction.pk}}">
        <div class="task-title">
            <a href="{% url 'transaction-update' transaction.id %}">{{transaction}}</a><br>
            Date: {{ transaction.date }}<br>
        </div>
        <div class="task-title">
            Category: {{ transaction.category }}<br>
            {%if transaction.is_debit %}
            Amount: {{ transaction.amount }}<br> 
            {% else %}
            Amount: -{{ transaction.amount }}<br> {% endif %}
        </div>
        <div class="task-controls">
            <a class="delete-link" href="{% url 'transaction-delete' transaction.id %}">&#215;</a>
        </div>
    </div>

    {% empty %}
    <div style="text-align: center; padding-bottom: 10px; line-height: 1em;">
        <h3>No new records are created.</h3>
        <h3>Create a <a style="text-decoration: none; color: #e53935;" href="{% url 'transaction-create' %}">New transaction</a> ! </h3>
    </div>
    {% endfor %}
</div>


{% endblock content %}

