{% extends 'base/main.html' %} {% block content %}

<!-- Header that displays username and number of incomplete tasks -->
<div class="header-bar">
    <div class="user-header-bar">
        <h1>Hello {{request.user|title}}</h1>
        <!-- <h3 style="margin:0">You have <i>{{count}}</i> incomplete task{{ count|pluralize:"s" }}</h3> -->
        <h2> Amount: {{ total_amount }}</h2>
    </div>

    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}"><u>Logout</u></a> {% else %}
    <a href="{% url 'login' %}">Login</a> {% endif %}
</div>

<!-- filters by categories and completeness, sort by deadline -->
<div class="filter-category">
    <form method="get">
        <label for="category">Category:</label>
        <select name="category" id="category">
          <option value="">All</option>
          {% for category in categories %}
            <option value="{{ category.name }}" {% if selected_category == category.name %}selected{% endif %}>{{ category.name }}</option>
          {% endfor %}
        </select>
        <button type="submit" class="button">Filter by Category</button>
        <br><a href="{% url 'category-create' %}">Create new categories</a>
        <label for="is_debit">Debit:</label>
        <select name="is_debit" id="completed_filter">
            <option value="">All</option>
            <option value="True" {% if task.is_debit == 'True' %} selected {% endif %}>Credit Records</option>
            <option value="False" {% if task.is_debit == 'False' %} selected {% endif %}>Debit records</option>
          </select>
        <button type="submit" class="button">Filter by Type</button>
      </form>

      <form method="GET">
        <label for="sort">Sort by Amount</label>
        <select name="sort_order" id="sort_deadline" onchange="this.form.submit()">
            <option value="">Sort by</option>
            <option value="amount_asc" {% if order_by_amount == 'amount_asc' %}selected{% endif %}>Amount (ascending)</option>
            <option value="amount_desc" {% if order_by_amount == 'amount_desc' %}selected{% endif %}>Amount (descending)</option>
        </select>
    </form>
    
</div>

<!-- Search tasks -->
<div id="search-add-wrapper">
    <form method="GET" style="display: flex;">
        <input type='text' name='search-area' placeholder="Search your records" value="{{search_input}}">
        <input class="button" type="submit" value='Search'>
    </form>
    {% if transactions|length > 0 %}
    <a id="add-link" href="{% url 'transaction-create' %}">&#x2b;</a>
    {% endif %}
</div>


<!-- displays tasks on the main page with their title, category and deadline -->

<div id="tasklist" class="task-items-wrapper">
    {% for transaction in transactions %}
    <div class="task-wrapper" data-position="{{transaction.pk}}">
        <div class="task-title">
            <a href="{% url 'transaction-update' transaction.id %}">{{transaction}}</a><br>
        </div>
        <div class="task-title">
            Category: {{ transaction.category }}<br>
            {%if transaction.is_debit %}
            Amount: {{ transaction.amount }}<br> 
            {% else %}
            Amount: -{{ transaction.amount }}<br> {% endif %}
        </div>
        <div class="task-controls">
            <a class="delete-link" href="{% url 'transaction-delete' transaction.id %}">&#215;</a>
        </div>
    </div>

    {% empty %}
    <div style="text-align: center; padding-bottom: 10px; line-height: 1em;">
        <h3>No new records are created.</h3>
        <h3>Create a <a style="text-decoration: none; color: #e53935;" href="{% url 'transaction-create' %}">New transaction</a> ! </h3>
    </div>
    {% endfor %}
</div>


{% endblock content %}

